div{
    /* background-color:whitesmoke; */
    height: 100% !important;
    width: 100%;
    opacity: 0.9;
}  

#podloga:hover {
     font-size: 17px;
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    color: #ffc61a;
    font-family:'Century Gothic';
  }

#opis:hover{
    font-size: 16px;
}

#naslov:hover {
    background-color: #0e0f0e;
    color: white;
}